<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.108.0">
    <link  href="css\style.css"rel="stylesheet">
    <title>Registro </title>


    <!-- Custom styles for this template -->
  </head>
  <body class="text-center">
    
<main class="form">
  <form id="formlogin" action="/registro" method="post">
    <img class="mb-4" src="img/logo3.jpg">
    
    <h1>Registro </h1>

    <div class="mb-3">
      <label  for="name" class="form-label" >Nombre completo </label>
      <input name="name" type="text" class="form-control" id="name" placeholder="name" aria-describedby="emailHelp">
 
    </div>
    <div class="mb-3">
      <label  for="user " class="form-label" >Correo eletronico</label>
      <input type="email" class="form-control" id="user" name="user" placeholder="user">
     
    </div>
    <div class="mb-3">
      <label  for="pass" class="form-label" >Password</label>
      <input type="password" class="form-control" id="pass" name="pass" placeholder="Password">
  
    </div>
    <div class="checkbox mb-3">  
    </div>
    <button  class="btn_login" type="submit">Registrar</button>
  </form>
  <br><br><br>
  <a type="button" class="btn_registro">Registrase</a>
</main>   
  </body>
</html>